@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.About-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 50px auto;
    border-radius: 2px;
    color: black;
    border: 1px solid black;
    box-shadow: 0, 0, 10px black;
    max-width: 80%; 
    padding: 20px; 
 } 


.About-Container h1 {
    font-size: 2rem;
    margin-bottom: 10px; 
    font-family: "Nerko One", cursive;
}

.About-Container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: "Nerko One", cursive;
}

.About-Container p {
    font-size: 1rem;
    line-height: 1.6; 
    margin-bottom: 20px; 
}
