nav{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Navbar-cs{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.NavLink{
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    border: 3px solid rgb(78, 165, 236);
    text-decoration: none;
    color: rgba(17, 9, 1, 0.973);
    padding: 3px;
    border-radius: 15px;
}

.Nav.active{
    text-decoration: underline;
}