

.navbar{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar li{
    float: left;
    list-style: none;
    color: blue;
}

.navbar a{
    text-decoration: none;
    padding: 5px;
}

.navbar a:hover{
    color: black;
    transition-duration: 0.2s;
    
}

.navbar a:active{
    transition-duration: 0.2s;
    padding: -3px;
}

.navbar:visited{
    color:white;

}
